CONTENT_DB=relay_content
CONTENT_APP_USER=content_app
CONTENT_APP_PASSWORD=content_local_app_change_me
CONTENT_MIGRATOR_USER=content_migrator
CONTENT_MIGRATOR_PASSWORD=content_local_migrator_change_me
