COMPOSE_PROJECT_NAME=relay

POSTGRES_BIND_HOST=127.0.0.1
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_ADMIN_USER=relay_admin
POSTGRES_ADMIN_PASSWORD=relay_local_admin_change_me

GOOSE_VERSION=v3.27.3

KAFKA_BIND_HOST=127.0.0.1
KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=29093
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_PROCESSING_TOPIC=relay.content.processing.v1
KAFKA_LIFECYCLE_TOPIC=relay.content.lifecycle.v1

KAFKA_UI_BIND_HOST=127.0.0.1
KAFKA_UI_PORT=8080
