DELIVERY_DB=relay_delivery
DELIVERY_APP_USER=delivery_app
DELIVERY_APP_PASSWORD=delivery_local_app_change_me
DELIVERY_MIGRATOR_USER=delivery_migrator
DELIVERY_MIGRATOR_PASSWORD=delivery_local_migrator_change_me
