IDENTITY_DB=relay_identity
IDENTITY_APP_USER=identity_app
IDENTITY_APP_PASSWORD=identity_local_app_change_me
IDENTITY_MIGRATOR_USER=identity_migrator
IDENTITY_MIGRATOR_PASSWORD=identity_local_migrator_change_me
