PROCESSING_DB=relay_processing
PROCESSING_APP_USER=processing_app
PROCESSING_APP_PASSWORD=processing_local_app_change_me
PROCESSING_MIGRATOR_USER=processing_migrator
PROCESSING_MIGRATOR_PASSWORD=processing_local_migrator_change_me
